@font-face {
    font-family: 'FontAwesome';
    src: url($fontsSRC+"fontawesome-webfont.eot?v=4.6.3");
    src: url($fontsSRC+"fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url($fontsSRC+"fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url($fontsSRC+"fontawesome-webfont.woff?v=4.6.3") format("woff"), url($fontsSRC+"fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url($fontsSRC+"fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kievitoLight';
    src: url($fontsSRC+'kievitotlightopentype.eot');
    src: url($fontsSRC+'kievitotlightopentype.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kievitoLight';
    src: url($fontsSRC+"kievitotlightopentype.woff2") format('woff2'), url($fontsSRC+"kievitotlightopentype.woff") format('woff'), url($fontsSRC+"kievitotlightopentype.ttf") format('truetype'), url($fontsSRC+"kievitotlightopentype.svg#kievitotlightopentype") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kievitoMedium';
    src: url($fontsSRC+"kievitotmediumopentype.eot");
    src: url($fontsSRC+"kievitotmediumopentype.eot?#iefix") format('embedded-opentype');
}

@font-face {
    font-family: 'kievitoMedium';
    src: url($fontsSRC+"kievitotmediumopentype.woff2") format('woff2'), url($fontsSRC+"kievitotmediumopentype.woff") format('woff'), url($fontsSRC+"kievitotmediumopentype.ttf") format('truetype'), url($fontsSRC+"kievitotmediumopentype.svg#kievitotmediumopentype") format('svg');
}
