/* SASS Variables from project */

$version: 'v1.0.0';
$author: 'Bruno Souza';
$message: 'Enjoy Monster!';

/* REAL VARIABLES */

// COLORS DEFAULT
$valid: #2ecc71;
$error: #e74c3c;

$fontsSRC: 'fonts/';
$imagesSRC: '../imgs/';
$fontKievitoLight: 'kievitoLight',sans-serif;
$fontKievitoMedium: 'kievitoMedium',sans-serif;
$labelColor: #3c3c3c;
$titleColor: #848484;

/* BREAK POINTS */

$breakpoints: (max: (xs: 767px), min: (sm: 768px, md: 992px, lg: 1200px));
