// styles.scss
// Imports
@import "mixins/breakpoints";
@import "variables";
@import "fonts";
@import "owl.carousel";
@import "bootstrap.min";
@import "scrollanim.min";
@import "filedrop";

/*PAGE: PRIMEIRO ACESSO*/
.hideDiv{
  display: block;
  &.no{
    display: none;
  }
  #zoneUpload {
    width: 346px;
    background: url("../imgs/backLogin.png") no-repeat center;
    position: relative;
    .bg{
      background: url("../imgs/upload.png") no-repeat;
      background-position: 55% 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .img{
      width: 50%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      min-height: 200px;
    }
    input[type="file"] {
        font-size: 0;
        opacity: 0;
        *font-size: 118px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    label {
        font: 15pt "kievitoLight",sans-serif;
        color: #848484;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    button {
        width: 133px;
        height: 43px;
        display: block;
        background: url("../imgs/backBtnSubmit.png") no-repeat center;
        background-size: contain;
        font: 15pt "kievitoLight",sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        border: 0;
        position: absolute;
        bottom: 0;
        right: 20px;
        z-index: 8;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
    .fd-file {
        font-size: 0;
        *font-size: 118px;
        position: absolute;
        top: 20px;
        left: 81px;
        z-index: 9999;
        width: 230px;
        height: 174px;
        cursor: pointer;
    }
}
}
.firstAccess {
    background-color: #fdfdfd;
    background: url($imagesSRC + "back.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    .container {
        .centerVertically {
            padding: 10% 1%;
            text-align: center;
        }
    }
    .form {
        -ms-transition: opacity 0.6s ease;
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        &.showForm {
            opacity: 1;
            width: auto;
            height: auto;
            overflow: visible;
            padding: 0 15px;
        }
        .closeForm {
          cursor: pointer;
          display: block;
          width: 30px;
          height: 30px;
          float: right;
          font-size: 22px;
          background-color: #c4161c;
          color: #fff;
          border-radius: 20px;
          text-align: center;
          position: absolute;
          top: 55px;
          right: 20px;
        }
        .link {
            display: inline-block;
            font: 11pt "kievitoLight",sans-serif;
            text-align: left;
            margin-top: 10px;
            a {
                color: #3c3c3c;
                &:hover {
                    text-decoration: none;
                }
            }
            :last-child {
                margin-left: 5px;
            }
        }
    }
    button {
        margin-top: 40px !important;
        @include breakpoint(xs) {
            margin-top: 10px !important;
        }
    }
    img {
        display: inline-block;
    }
}
.brand {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    .clock {
        position: absolute;
        top: 32.8%;
        right: 34.7%;
        width: 7.5%;
        height: auto;
        @include breakpoint(xs) {
            top: 32.2%;
            right: 35.7%;
        }
        @include breakpoint(sm) {
            top: 32.2%;
            right: 35.7%;
        }
        @include breakpoint(md) {
            top: 32.3%;
            right: 37.9%;
        }
        @include breakpoint(lg) {
            top: 31.2%;
            right: 37.5%;
        }
    }
    .clock-lines {
        position: absolute;
        top: 5%;
        width: 50%;
        height: auto;
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
        @include breakpoint(xs) {
            top: 17%;
            right: 13%;
            max-width: 206px;
        }
        @include breakpoint(sm) {
            top: 15%;
            right: 15%;
        }
        @include breakpoint(md) {
            top: 15%;
            right: 17%;
        }
        @include breakpoint(lg) {
            top: 10.9%;
            right: 17.6%;
        }
    }
    img {
        max-width: 100%;
    }
}
/*PARTIAL: FORM DEFAULT*/
.form {
    width: auto;
    text-align: center;
    display: inline-block;
    // margin-top: 67px;
    vertical-align: middle;
    h5 {
        font: 24pt $fontKievitoLight;
        color: $titleColor;
        width: 107%;
        margin-bottom: 0;
    }
    form {
        background: url($imagesSRC + "backLogin.png") no-repeat center;
        padding: 20px 35px 30px 81px;
        height: 224px;
        max-width: 346px;
        background-size: contain;
        margin: 0 auto;
        &#file_upload_form {
            @extend .primeiroAcesso;
        }
        &.primeiroAcesso {
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            padding: 0;
            opacity: 0;
            -webkit-transition: opacity 0.6s ease;
            -o-transition: opacity 0.6s ease;
            transition: opacity 0.6s ease;
            &.active {
                opacity: 1;
                padding: 20px 35px 30px 81px;
                height: 224px;
                width: 100%;
                visibility: visible;
                overflow: visible;
            }
        }
        @include breakpoint(xs) {
            padding: 35px 20px 30px 60px;
        }
        .firstStep {
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.6s ease;
            -o-transition: opacity 0.6s ease;
            transition: opacity 0.6s ease;
            &.active {
                opacity: 1;
                width: auto;
                height: auto;
                overflow: visible;
                visibility: visible;
            }
        }
        .secondStep {
            @extend .firstStep;
        }
        label {
            font: 16pt $fontKievitoLight;
            color: $labelColor;
            display: block;
            text-align: left;
        }
        input {
            display: block;
            width: 100%;
            background: #fff;
            height: 35px;
            padding: 5px;
            font: 16pt $fontKievitoLight;
            line-height: 100%;
            color: $labelColor;
            border: 0;
            &[type="file"] {
                font-size: 15px;
                background: none;
                height: auto;
            }
        }
        .matricula {
            margin-bottom: 10px;
        }
        button {
            width: 133px;
            height: 43px;
            display: block;
            background: url($imagesSRC + "backBtnSubmit.png") no-repeat center;
            background-size: contain;
            font: 15pt $fontKievitoLight;
            color: #ffffff;
            text-transform: uppercase;
            border: 0;
            margin-top: 30px;
            margin-left: 44%;
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            &:hover {
                font-weight: 900;
            }
            &:after {
                content: '\f105';
                font: 19pt 'FontAwesome';
                color: #ffffff;
                margin-left: 6px;
            }
            @include breakpoint(xs) {
                margin-top: 10px;
            }
        }
    }
}
.logo {
    width: 100%;
    display: block;
    margin-top: 80px;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #a0a1a2;
        position: absolute;
        top: 41%;
        left: 0;
        z-index: 1;
        @include breakpoint(xs) {
            left: 0;
        }
    }
    a {
        display: block;
        z-index: 9999;
        position: relative;
        width: 181px;
        margin: 0 auto;
        img {
            width: 181px;
            height: 72px;
        }
    }
}
img {
    width: auto;
}
/*END:PAGE: PRIMEIRO ACESSO*/
/*PAGE: HOME LOGADA*/
.homeLogada {
    .container {
        width: 100%;
        padding: 0;
        .brand {
            .clock {
                @include breakpoint(xs) {
                    top: 32.6%;
                    right: 34.6%;
                }
                @include breakpoint(md) {
                    top: 32.7%;
                    right: 34.7%;
                }
                @include breakpoint(lg) {
                    top: 32.9%;
                    right: 34.6%;
                }
            }
            .clock-lines {
                @include breakpoint(md) {
                    top: 17%;
                    right: 14%;
                }
                @include breakpoint(lg) {
                    top: 17.9%;
                    right: 14.6%;
                }
            }
        }
        .intro {
            width: 100%;
            display: block;
            position: relative;
            background: url($imagesSRC + "backIntro.png") no-repeat center;
            background-size: cover;
            padding: 0 0 80px;
            .centralize {
                max-width: 890px;
                margin: 0 auto;
                position: relative;
                text-align: center;
                .groupLinks {
                    z-index: 1;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    font: 18pt $fontKievitoLight;
                    color: $titleColor;
                    @include breakpoint(xs) {
                        right: 5px;
                        font-size: 11pt;
                    }
                    .sair{
                      width: 45px;
                      text-align: center;
                      height: 20px;
                      display: inline-block;
                      vertical-align: middle;
                      background: #d61820;
                      color: #fff;
                      border-radius: 10px;
                      margin-top: -6px;
                      font-size: 12px;
                      padding-top: 4px;
                      line-height: 100%;
                    }
                    a {
                        display: inline-block;
                        color: $titleColor;
                        border-left: 1px solid $titleColor;
                        padding-left: 5px;
                        margin-left: 5px;
                    }
                    p {
                        display: inline-block;
                        font-weight: bold;
                        color: #9f3467;
                    }
                    .user {
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        margin: 0 10px 0 0;
                        overflow: hidden;
                        background: url() center no-repeat;
                        background-size: contain;
                        img {
                            width: 100%;
                            @include breakpoint(xs) {
                                width: 45px;
                            }
                        }
                    }
                }
                .brand {
                    max-width: 410px;
                    margin-top: 55px;
                    @include breakpoint(xs) {
                        max-width: 315px;
                    }
                }
                .video {
                    margin-top: 140px;
                    margin-left: 61px;
                    display: inline-block;
                    vertical-align: top;
                    padding: 23px 16px;
                    background: url($imagesSRC + "shapeVideo.png") no-repeat;
                    @include breakpoint(xs) {
                        margin-left: 0;
                        margin-top: 40px;
                        max-width: 100%;
                    }
                    iframe {
                        @include breakpoint(xs) {
                            width: 295px;
                            height: auto;
                        }
                    }
                }
                .text {
                    max-width: 617px;
                    margin: 0 auto;
                    display: block;
                    padding-top: 50px;
                    p {
                        margin: 0 20px;
                    }
                }
                p {
                    font: 14pt $fontKievitoLight;
                    color: $titleColor;
                    text-align: left;
                    line-height: 25px;
                    @include breakpoint(xs) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                @include breakpoint(xs) {
                    text-align: center;
                }
            }
            @include breakpoint(xs) {
                padding: 0 0 20px;
            }
        }
        .galeria {
            width: 48%;
            margin-right: 2%;
            padding-bottom: 100px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            background: url($imagesSRC + "backGaleria.png") no-repeat right;
            @include breakpoint(xs) {
                width: 100%;
                margin: 0;
                background-color: #eff4de;
                padding-bottom: 15px;
            }
            .content {
              top: 40px;
              float: right;
              top: 40px;
              right: 10%;
              text-align: left;
              position: relative;
                @include breakpoint(xs) {
                    width: 80%;
                    right: 5%;
                    top: 0;
                }
                @include breakpoint(sm) {
                  width: 70%;
                }
                @include breakpoint(md) {
                  width: 60%;
                }
                @include breakpoint(lg) {
                  width: 45%;
                }
                h2 {
                    font: 26pt $fontKievitoMedium;
                    color: #aac238;
                }
                p {
                    font: 13pt $fontKievitoLight;
                    color: $titleColor;
                    text-align: left;
                    line-height: 25px;
                    @include breakpoint(xs) {
                        font-size: 8pt;
                        line-height: 20px;
                    }
                    @include breakpoint(sm){
                        font-size: 9pt;
                    }
                    @include breakpoint(md){
                        font-size: 11pt;
                    }
                }
                .slider {
                    margin-bottom: 10px;
                    overflow: hidden;
                    .grid {
                        width: 100%;
                        max-width: 720px;
                        margin: 0 auto;
                        .row {
                            margin: 0 3px 0 2px;
                            .item {
                              display: block;
                              margin: 0 0 5px 0;
                              width: 100%;
                              height: 60px;
                              position: relative;
                                a {
                                    position: absolute;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                                span.video {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: url("../imgs/play.png") center no-repeat;
                                    background-size: 25px;
                                    z-index: 2;
                                }
                                .bg {
                                  width: 100%;
                                  height: 100%;
                                  position: absolute;
                                  top: 0;
                                  left: 0;
                                  background: url("../imgs/play.png") center no-repeat;
                                  background-size: cover;
                                  z-index: 1;
                                }
                            }
                        }
                    }
                }
                .navigation {
                    a {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
        .active {
            opacity: 1 !important;
            z-index: 1 !important;
        }
        .lightboxVideo {
            z-index: -1;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            transition: all 0.3s ease-in-out;
            .video {
                position: absolute;
                z-index: 5;
                right: 0;
                left: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                opacity: 0;
                width: 70% !important;
                height: 70% !important;
                @include breakpoint(xs) {
                    width: 90% !important;
                    height: auto !important;
                }
            }
        }
        .performances {
            width: 50%;
            padding-bottom: 145px;
            vertical-align: top;
            display: inline-block;
            position: relative;
            background: url($imagesSRC + "bg-performance.png") no-repeat left;
            @include breakpoint(xs) {
                width: 100%;
                background-color: #ebd9df;
                top: 20px;
                padding-bottom: 45px;
            }
            .content {
                width: 430px;
                top: 70px;
                left: 3%;
                text-align: left;
                position: relative;
                @include breakpoint(xs) {
                    width: auto;
                    margin: 0;
                    left: 0;
                    top: 30px;
                }
                @include breakpoint(sm) {
                    width: 363px;
                }
                @include breakpoint(md) {
                    width: 455px;
                }
                h2 {
                    font: 26pt $fontKievitoMedium;
                    color: #9f3467;
                    margin-left: 38px;
                    margin-top: 0;
                }
                p {
                    font: 14pt $fontKievitoLight;
                    color: $titleColor;
                    text-align: left;
                    line-height: 25px;
                    margin-left: 38px;
                    @include breakpoint(xs) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .colaborador {
                    margin-bottom: 35px;
                    .user{
                      display: inline-block;
                      vertical-align: middle;
                      border-radius: 50%;
                      width: 80px;
                      height: 80px;
                      overflow: hidden;
                      background: url() center no-repeat;
                      background-size: contain;
                      @include breakpoint(xs) {
                        width: 60px;
                      }
                    }
                    img {
                        display: inline-block;
                        width: 80px;
                        @include breakpoint(xs) {
                            width: 60px;
                        }
                    }
                    p {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                        span {
                            color: #9f3467;
                            font-weight: 600;
                        }
                    }
                    @include breakpoint(xs) {
                        margin-bottom: 15px;
                        text-align: center;
                    }
                }
                .meta {
                    .circle {
                        width: 120px;
                        background-color: #b56e88;
                        border-radius: 50%;
                        padding: 40px 0 38px;
                        text-align: center;
                        display: inline-block;
                        @include breakpoint(sm) {
                            width: 120px;
                            padding: 40px 0 38px;
                        }
                        @include breakpoint(xs) {
                            width: 88px;
                            height: 88px;
                            padding: 20px 0 22px;
                        }
                        span {
                            color: #fff;
                            font: 13pt "kievitoLight",sans-serif;
                            font-weight: 600;
                            @include breakpoint(xs) {
                                font-size: 8pt;
                            }
                        }
                        p {
                            color: #fff;
                            margin: 0;
                            text-align: center;
                            font-size: 12pt;
                            @include breakpoint(xs) {
                                font-size: 13pt;
                            }
                        }
                        &:nth-child(3) {
                            background-color: #9f3467;
                        }
                        &:last-child {
                            background-color: #6f0035;
                        }
                    }
                    img {
                        display: inline-block;
                        margin: 0 10px;
                        vertical-align: 0;
                        @include breakpoint(xs) {
                            margin: 0 5px;
                            width: 15px;
                        }
                    }
                    @include breakpoint(xs) {
                        text-align: center;
                    }
                }
                .podium {
                    display: block;
                    .box {
                        width: 107px;
                        height: 156px;
                        display: inline-block;
                        margin-right: 40px;
                        img {
                            margin: 0 auto;
                        }
                        &.top2 {
                            position: relative;
                            top: 20px;
                        }
                        &.top3 {
                            margin: 0;
                            position: relative;
                            top: 30px;
                        }
                        p {
                            text-align: center;
                            margin-left: 0;
                        }
                        span {
                            color: #9f3467;
                        }
                        @include breakpoint(sm) {
                            margin-right: 20px;
                        }
                        @include breakpoint(md) {
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
        .ranking {
            background: url($imagesSRC + "bg-rank2.png") center no-repeat;
            background-size: contain;
            height: 486px;
            @include breakpoint(md) {
                margin-right: 40px;
            }
            h2 {
                font: 38pt $fontKievitoMedium;
                color: #e69e28;
                text-align: center;
                margin-bottom: 30px;
            }
            .centralize {
                max-width: 890px;
                margin: 0 auto;
                position: relative;
                padding-top: 35px;
                @include breakpoint(md) {
                    padding-top: 80px;
                }
                .text {
                    max-width: 617px;
                    margin: 0 auto 40px;
                    display: block;
                    p {
                        font: 14pt $fontKievitoLight;
                        color: $titleColor;
                        text-align: left;
                        line-height: 25px;
                        @include breakpoint(xs) {
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0 20px;
                        }
                    }
                }
                .tabela {
                    table {
                        margin: 0 auto;
                        border-spacing: 0 2px;
                        border-collapse: separate;
                        tr {
                            font: 11pt $fontKievitoLight;
                            color: #fff;
                            td {
                                padding: 5px 10px;
                                text-align: center;
                            }
                            @include breakpoint(sm) {
                                font-size: 10pt;
                            }
                            @include breakpoint(xs) {
                                font-size: 6pt;
                            }
                        }
                        .gold {
                            :first-child {
                                background-color: #e69e28;
                                padding-left: 10px;
                                text-align: left;
                            }
                            :nth-child(odd) {
                                border-right: 2px solid white;
                            }
                            background-color: #f4d6a4;
                        }
                        .middle {
                            background-color: #e69e28;
                            font-weight: bold;
                        }
                        .gray {
                            &.first {
                                td {
                                    border-right: 2px solid #fff;
                                }
                            }
                            :nth-child(odd) {
                                border-right: 2px solid white;
                            }
                            :nth-child(n+2) {
                                background-color: #58585a;
                                font-weight: bold;
                            }
                        }
                        .gold {
                            :nth-child(n+2) {
                                color: #000;
                            }
                        }
                    }
                    @include breakpoint(xs) {
                        overflow-x: scroll;
                        width: 100%;
                    }
                }
            }
            @include breakpoint(xs) {
                margin-bottom: 20px;
            }
        }
        .rodape {
            margin-top: 30px;
            img {
                margin: 0 auto 30px;
            }
        }
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999999999;
            .align {
                display: table-cell;
                vertical-align: middle;
                .faq,                
                .modal-gallery,
                .regulamento {
                    display: none;
                    margin: auto;
                    @include breakpoint(xs) {
                        background: #fff;
                        width: 100%;
                        max-height: 500px;
                        height: 90vh;
                    }
                    @include breakpoint(sm) {
                        background: url("../imgs/bg-lightbox.png") no-repeat center;
                        width: 660px;
                        height: 610px;
                    }
                    .close {
                        cursor: pointer;
                        display: block;
                        width: 30px;
                        height: 30px;
                        float: right;
                        font-size: 22px;
                        background-color: #c4161c;
                        color: #fff;
                        border-radius: 20px;
                        text-align: center;
                        text-decoration: none;
                    }
                    .box {
                        position: relative;
                        width: 85%;
                        height: 90%;
                        margin: 0 auto;
                        top: 6%;
                        left: 3%;
                        overflow-y: scroll;

                        h2 {
                            font: 30pt "KievitoMedium",sans-serif;
                            color: #c4161c;
                            @include breakpoint(xs) {
                                font-size: 23pt;
                            }
                        }

                        * {
                            font: 11pt "KievitoLight",sans-serif;
                            @include breakpoint(xs) {
                                font-size: 9pt;
                            }
                        }
                        ul{
                          list-style: disc;
                          padding-left: 20px;
                          li{

                          }
                        }
                        img{
                          width: auto;
                          max-width: 100%;
                          @include breakpoint(xs) {
                              width: 100%;
                          }
                        }
                        b{
                          font-weight: 700;
                        }
                        .question {
                            font: 14pt "KievitoLight",sans-serif;
                            font-weight: 700;
                            border-bottom: 1px solid #eeb867;
                            cursor: pointer;
                        }
                        .answer {
                            font: 12pt "KievitoLight",sans-serif;
                            display: none;
                            // transition: all .8s ease;
                        }
                    }
                }
                .modal-gallery {
                    background: url("../imgs/bg-lightbox.png") no-repeat;
                    width: 500px;
                    background-size: cover;
                    height: 462px;
                    .close {
                        margin-bottom: 6%;
                        @include breakpoint(xs) {
                            margin-bottom: 0;
                        }
                    }
                    .box {
                        width: 90%;
                        overflow-y: visible;
                        left: 0;
                        height: auto;
                        img {
                            width: 100%;
                        }
                    }
                    @include breakpoint(xs) {
                        background: #fff;
                        width: 300px;
                        border: 8px solid #eeb867;
                        height: auto;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}
/*END:PAGE: HOME LOGADA*/
// ERROR
.error {
    border: 2px solid $error !important;
    color: $error !important;
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $error;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $error;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $error;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $error;
    }
}
.radioCustom {
	display: inline-block !important;
  vertical-align: middle;
  width: auto !important;
	cursor: pointer;
	overflow: hidden;
	margin: 0 10px 0 0;
	font: 400 16px $fontKievitoLight;
	input[type="radio"] {
		display: none;
		&:checked + img {
			opacity: 1;
      border: 1px solid #000;
      border-radius: 50%;
		}
	}
  img{
    display: inline-block;
    max-width: 45px;
    height: auto;
    opacity: .5;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .homeLogada{
    .container{
      .galeria {
        .content{
          width: 65%;
        }
      }
    }
  }
}
